body{background-color: antiquewhite;}




h1{color: white;
font-size: 50px;
text-align: center;
text-transform: uppercase;
    
}

.textos {
    color: rgb(41, 45, 73);
    font-size: 30px;
    text-align: center;
}